body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: bold;
}

#change-count-head {
    font-weight: bold;
    padding: 50px;
}

#number-count {
    font-weight: bold;
}

.container {
    text-align: center;
}

img {
    width: 500px;
    display: block;
    margin: auto;
}

.container > img {
    display: block;
    margin: auto;
    width: 500px;
    border: solid;
    border-radius: 30px;
}

.button-panel {
    text-align: center;
    margin: 50px 0px;
}

.button-panel > button {
    font-weight: bold;
}